<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title phaser3-tiled-slope Demo
    link(rel="stylesheet", href="style.styl")
  body
    h1 phaser3-tiled-slope Demo
    #slopeDemo
    script(src="js/main.js")
